
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- saved from url=(0052)http://www.cnblogs.com/qixinbo/category/1086024.html -->
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>基本功Foundation - 随笔分类 - SeedQi - 博客园</title>
    <script src="~/Script/jquery-2.2.0.min.js"></script>
    <script src="~/js/MyBlog.js"></script>
    <link href="~/Css/blog-common.css" rel="stylesheet" />
    <link href="~/Css/BlogCssCommon.css" rel="stylesheet" />
    <link href="~/Css/BlogCssHeader.css" rel="stylesheet" />
    <link href="~/Css/BlogCssBody.css" rel="stylesheet" />
    <link href="~/Css/BlogCssSideBar.css" rel="stylesheet" />
    <link href="~/Css/BlogCssModule.css" rel="stylesheet" />
</head>
<body>
    <a name="top"></a>

    <!--done-->
    <div id="home">
        <div id="header">
            <div id="blogTitle">
                <a id="lnkBlogLogo" href="http://www.cnblogs.com/qixinbo/" style="display: none;"><img id="blogLogo" src="./基本功Foundation - 随笔分类 - SeedQi - 博客园_files/logo.gif" alt="返回主页"></a>

                <!--done-->
                <h1><a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/qixinbo/">SeedQi</a></h1>
                <h2>用心完成每一篇文字，真心对待每一天生活。</h2>

            </div><!--end: blogTitle 博客的标题和副标题 -->
            <div id="navigator">

                <ul id="navList">
                    <li></li>
                    <li><a id="blog_nav_myhome" class="menu" href="http://www.cnblogs.com/qixinbo/">首页</a></li>
                    <li></li>
                    <li></li>
                    <li>
                        <!---->
                    </li>
                    <li><a id="blog_nav_admin" class="menu" rel="nofollow" href="https://i.cnblogs.com/">管理</a></li>
                </ul>
                <div class="blogStats">

                    <div id="blog_stats">
                        <span id="stats_post_count">随笔 - 64&nbsp; </span>
                        <span id="stats_article_count">文章 - 0&nbsp; </span>
                        <span id="stats-comment_count">评论 - 0</span>
                    </div>

                </div><!--end: blogStats -->
            </div><!--end: navigator 博客导航栏 -->
        </div><!--end: header 头部 -->

        <div id="main">
            <div id="mainContent">
                <div class="forFlow">

                    <!--done-->

                    <div class="entrylist">
                        <h1 class="entrylistTitle">随笔分类 - 基本功Foundation</h1>
                        <div class="entrylistDescription"></div>

                        <div class="entrylistItem">
                            <div class="entrylistPosttitle"><a id="CategoryEntryList1_EntryStoryList_ctl00_Entries_TitleUrl_0" class="entrylistItemTitle" href="http://www.cnblogs.com/qixinbo/p/9193258.html">设计模式DesignPattern（六）行为型模式（下）</a></div>
                            <div class="entrylistPostSummary"><div class="c_b_p_desc">摘要: 行为型模式 行为型模式是对在不同对象之间划分责任和算法的抽象化。行为模式不仅仅关于类和对象，还关于它们之间的相互作用。行为型模式又分为类的行为模式和对象的行为模式两种。<a href="https://www.cnblogs.com/qixinbo/p/9193258.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                            <div class="entrylistItemPostDesc">posted <a href="http://www.cnblogs.com/qixinbo/p/9193258.html" title="permalink">2018-06-17 17:10</a> SeedQi 阅读(8) | <a href="http://www.cnblogs.com/qixinbo/p/9193258.html#FeedBack" title="comments, pingbacks, trackbacks">评论 (0)</a>  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=9193258" rel="nofollow">编辑</a></div>
                        </div>

                        <div class="postSeparator"></div>

                        <div class="entrylistItem">
                            <div class="entrylistPosttitle"><a id="CategoryEntryList1_EntryStoryList_ctl00_Entries_TitleUrl_1" class="entrylistItemTitle" href="http://www.cnblogs.com/qixinbo/p/9120324.html">设计模式DesignPattern（五）行为型模式（上）</a></div>
                            <div class="entrylistPostSummary">
                                <div class="c_b_p_desc">
                                    摘要: 行为型模式
                                    行为型模式是对在不同对象之间划分责任和算法的抽象化。行为模式不仅仅关于类和对象，还关于它们之间的相互作用。行为型模式又分为类的行为模式和对象的行为模式两种。<a href="https://www.cnblogs.com/qixinbo/p/9120324.html" class="c_b_p_desc_readmore">阅读全文</a>
                                </div>
                            </div>
                            <div class="entrylistItemPostDesc">posted <a href="http://www.cnblogs.com/qixinbo/p/9120324.html" title="permalink">2018-06-01 10:03</a> SeedQi 阅读(4) | <a href="http://www.cnblogs.com/qixinbo/p/9120324.html#FeedBack" title="comments, pingbacks, trackbacks">评论 (0)</a>  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=9120324" rel="nofollow">编辑</a></div>
                        </div>

                        <div class="postSeparator"></div>

                        <div class="entrylistItem">
                            <div class="entrylistPosttitle"><a id="CategoryEntryList1_EntryStoryList_ctl00_Entries_TitleUrl_2" class="entrylistItemTitle" href="http://www.cnblogs.com/qixinbo/p/9062303.html">设计模式DesignPattern（四）结构型模式（下）</a></div>
                            <div class="entrylistPostSummary"><div class="c_b_p_desc">摘要: 设计模式DesignPattern（四）结构型模式（下）<a href="https://www.cnblogs.com/qixinbo/p/9062303.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                            <div class="entrylistItemPostDesc">posted <a href="http://www.cnblogs.com/qixinbo/p/9062303.html" title="permalink">2018-05-20 01:33</a> SeedQi 阅读(5) | <a href="http://www.cnblogs.com/qixinbo/p/9062303.html#FeedBack" title="comments, pingbacks, trackbacks">评论 (0)</a>  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=9062303" rel="nofollow">编辑</a></div>
                        </div>

                        <div class="postSeparator"></div>

                        <div class="entrylistItem">
                            <div class="entrylistPosttitle"><a id="CategoryEntryList1_EntryStoryList_ctl00_Entries_TitleUrl_3" class="entrylistItemTitle" href="http://www.cnblogs.com/qixinbo/p/9023764.html">设计模式DesignPattern（三）结构型模式（上）</a></div>
                            <div class="entrylistPostSummary"><div class="c_b_p_desc">摘要: 结构型模式，顾名思义讨论的是类和对象的结构 ，主要用来处理类或对象的组合。它包括两种类型，一是类结构型模式，指的是采用继承机制来组合接口或实现；二是对象结构型模式，指的是通过组合对象的方式来实现新的功能。它包括适配器模式、桥接模式、装饰者模式、组合模式、外观模式、享元模式和代理模式。<a href="https://www.cnblogs.com/qixinbo/p/9023764.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                            <div class="entrylistItemPostDesc">posted <a href="http://www.cnblogs.com/qixinbo/p/9023764.html" title="permalink">2018-05-11 11:46</a> SeedQi 阅读(7) | <a href="http://www.cnblogs.com/qixinbo/p/9023764.html#FeedBack" title="comments, pingbacks, trackbacks">评论 (0)</a>  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=9023764" rel="nofollow">编辑</a></div>
                        </div>

                        <div class="postSeparator"></div>

                        <div class="entrylistItem">
                            <div class="entrylistPosttitle"><a id="CategoryEntryList1_EntryStoryList_ctl00_Entries_TitleUrl_4" class="entrylistItemTitle" href="http://www.cnblogs.com/qixinbo/p/8905800.html">设计模式DesignPattern（二） 创建型模式</a></div>
                            <div class="entrylistPostSummary"><div class="c_b_p_desc">摘要: 创建型模式就是用来创建对象的模式，抽象了实例化的过程。所有的创建型模式都有两个共同点。第一，它们都将系统使用哪些具体类的信息封装起来；第二，它们隐藏了这些类的实例是如何被创建和组织的。创建型模式包括单例模式、工厂方法模式、抽象工厂模式、建造者模式和原型模式。<a href="https://www.cnblogs.com/qixinbo/p/8905800.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                            <div class="entrylistItemPostDesc">posted <a href="http://www.cnblogs.com/qixinbo/p/8905800.html" title="permalink">2018-04-22 09:29</a> SeedQi 阅读(8) | <a href="http://www.cnblogs.com/qixinbo/p/8905800.html#FeedBack" title="comments, pingbacks, trackbacks">评论 (0)</a>  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=8905800" rel="nofollow">编辑</a></div>
                        </div>

                        <div class="postSeparator"></div>

                        <div class="entrylistItem">
                            <div class="entrylistPosttitle"><a id="CategoryEntryList1_EntryStoryList_ctl00_Entries_TitleUrl_5" class="entrylistItemTitle" href="http://www.cnblogs.com/qixinbo/p/8728047.html">设计模式DesignPattern（一）设计模式的六个基本原则</a></div>
                            <div class="entrylistPostSummary"><div class="c_b_p_desc">摘要: 设计模式DesignPattern（一）设计模式的六个基本原则<a href="https://www.cnblogs.com/qixinbo/p/8728047.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                            <div class="entrylistItemPostDesc">posted <a href="http://www.cnblogs.com/qixinbo/p/8728047.html" title="permalink">2018-04-06 16:25</a> SeedQi 阅读(13) | <a href="http://www.cnblogs.com/qixinbo/p/8728047.html#FeedBack" title="comments, pingbacks, trackbacks">评论 (0)</a>  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=8728047" rel="nofollow">编辑</a></div>
                        </div>

                        <div class="postSeparator"></div>

                        <div class="entrylistItem">
                            <div class="entrylistPosttitle"><a id="CategoryEntryList1_EntryStoryList_ctl00_Entries_TitleUrl_6" class="entrylistItemTitle" href="http://www.cnblogs.com/qixinbo/p/8256810.html">快速排序 Quick Sort</a></div>
                            <div class="entrylistPostSummary"><div class="c_b_p_desc">摘要: 快速排序 Quick Sort<a href="https://www.cnblogs.com/qixinbo/p/8256810.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                            <div class="entrylistItemPostDesc">posted  <a href="http://www.cnblogs.com/qixinbo/p/8256810.html" title="permalink">2018-01-10 08:51</a> SeedQi 阅读(23) | <a href="http://www.cnblogs.com/qixinbo/p/8256810.html#FeedBack" title="comments, pingbacks, trackbacks">评论 (0)</a>  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=8256810" rel="nofollow">编辑</a></div>
                        </div>

                        <div class="postSeparator"></div>

                        <div class="entrylistItem">
                            <div class="entrylistPosttitle"><a id="CategoryEntryList1_EntryStoryList_ctl00_Entries_TitleUrl_7" class="entrylistItemTitle" href="http://www.cnblogs.com/qixinbo/p/8046312.html">平衡二叉树（AVL树）</a></div>
                            <div class="entrylistPostSummary"><div class="c_b_p_desc">摘要: 平衡二叉树定义(AVL)：它或者是一颗空树，或者具有以下性质的二叉树：它的左子树和右子树的深度之差的绝对值不超过1，且它的左子树和右子树都是一颗平衡二叉树。 最小不平衡子树：指离插入节点最近且以平衡因子的绝对值大于1的节点作为根的子树。 平衡因子(bf)：结点的左子树的深度减去右子树的深度，那么显然<a href="https://www.cnblogs.com/qixinbo/p/8046312.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                            <div class="entrylistItemPostDesc">posted <a href="http://www.cnblogs.com/qixinbo/p/8046312.html" title="permalink">2017-12-16 12:51</a> SeedQi 阅读(14) | <a href="http://www.cnblogs.com/qixinbo/p/8046312.html#FeedBack" title="comments, pingbacks, trackbacks">评论 (0)</a>  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=8046312" rel="nofollow">编辑</a></div>
                        </div>

                        <div class="postSeparator"></div>

                        <div class="entrylistItem">
                            <div class="entrylistPosttitle"><a id="CategoryEntryList1_EntryStoryList_ctl00_Entries_TitleUrl_8" class="entrylistItemTitle" href="http://www.cnblogs.com/qixinbo/p/7976959.html">Dijkstra算法（C语言）</a></div>
                            <div class="entrylistPostSummary"><div class="c_b_p_desc">摘要: Dijkstra算法（C语言）<a href="https://www.cnblogs.com/qixinbo/p/7976959.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                            <div class="entrylistItemPostDesc">posted <a href="http://www.cnblogs.com/qixinbo/p/7976959.html" title="permalink">2017-12-04 14:40</a> SeedQi 阅读(276) | <a href="http://www.cnblogs.com/qixinbo/p/7976959.html#FeedBack" title="comments, pingbacks, trackbacks">评论 (0)</a>  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7976959" rel="nofollow">编辑</a></div>
                        </div>

                        <div class="postSeparator"></div>

                        <div class="entrylistItem">
                            <div class="entrylistPosttitle"><a id="CategoryEntryList1_EntryStoryList_ctl00_Entries_TitleUrl_9" class="entrylistItemTitle" href="http://www.cnblogs.com/qixinbo/p/7965466.html">哈希表的构造方法、冲突处理方法及哈希拉链法的简单代码实现</a></div>
                            <div class="entrylistPostSummary"><div class="c_b_p_desc">摘要: 哈希表的构造方法、冲突处理方法及哈希拉链法的简单代码实现<a href="https://www.cnblogs.com/qixinbo/p/7965466.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                            <div class="entrylistItemPostDesc">posted <a href="http://www.cnblogs.com/qixinbo/p/7965466.html" title="permalink">2017-12-03 10:11</a> SeedQi 阅读(370) | <a href="http://www.cnblogs.com/qixinbo/p/7965466.html#FeedBack" title="comments, pingbacks, trackbacks">评论 (0)</a>  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7965466" rel="nofollow">编辑</a></div>
                        </div>

                        <div class="postSeparator"></div>

                        <div class="entrylistItem">
                            <div class="entrylistPosttitle"><a id="CategoryEntryList1_EntryStoryList_ctl00_Entries_TitleUrl_10" class="entrylistItemTitle" href="http://www.cnblogs.com/qixinbo/p/7954084.html">堆排序（C语言实现）</a></div>
                            <div class="entrylistPostSummary"><div class="c_b_p_desc">摘要: 堆排序（C语言实现）<a href="https://www.cnblogs.com/qixinbo/p/7954084.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                            <div class="entrylistItemPostDesc">posted <a href="http://www.cnblogs.com/qixinbo/p/7954084.html" title="permalink">2017-12-02 13:57</a> SeedQi 阅读(75) | <a href="http://www.cnblogs.com/qixinbo/p/7954084.html#FeedBack" title="comments, pingbacks, trackbacks">评论 (0)</a>  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7954084" rel="nofollow">编辑</a></div>
                        </div>

                        <div class="postSeparator"></div>

                        <div class="entrylistItem">
                            <div class="entrylistPosttitle"><a id="CategoryEntryList1_EntryStoryList_ctl00_Entries_TitleUrl_11" class="entrylistItemTitle" href="http://www.cnblogs.com/qixinbo/p/7895920.html">拓扑排序</a></div>
                            <div class="entrylistPostSummary"><div class="c_b_p_desc">摘要: 定义和前置条件： 定义：将有向图中的顶点以线性方式进行排序。即对于任何连接自顶点u到顶点v的有向边uv，在最后的排序结果中，顶点u总是在顶点v的前面。 如果这个概念还略显抽象的话，那么不妨考虑一个非常非常经典的例子——选课。我想任何看过数据结构相关书籍的同学都知道它吧。假设我非常想学习一门机器学习的<a href="https://www.cnblogs.com/qixinbo/p/7895920.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                            <div class="entrylistItemPostDesc">posted <a href="http://www.cnblogs.com/qixinbo/p/7895920.html" title="permalink">2017-11-25 17:48</a> SeedQi 阅读(14) | <a href="http://www.cnblogs.com/qixinbo/p/7895920.html#FeedBack" title="comments, pingbacks, trackbacks">评论 (0)</a>  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7895920" rel="nofollow">编辑</a></div>
                        </div>

                        <div class="postSeparator"></div>

                        <div class="entrylistItem">
                            <div class="entrylistPosttitle"><a id="CategoryEntryList1_EntryStoryList_ctl00_Entries_TitleUrl_12" class="entrylistItemTitle" href="http://www.cnblogs.com/qixinbo/p/7892068.html">二叉树的深度 (递归与非递归方法)</a></div>
                            <div class="entrylistPostSummary"><div class="c_b_p_desc">摘要: 二叉树的深度 (递归与非递归方法)<a href="https://www.cnblogs.com/qixinbo/p/7892068.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                            <div class="entrylistItemPostDesc">posted  <a href="http://www.cnblogs.com/qixinbo/p/7892068.html" title="permalink">2017-11-24 19:29</a> SeedQi 阅读(165) | <a href="http://www.cnblogs.com/qixinbo/p/7892068.html#FeedBack" title="comments, pingbacks, trackbacks">评论 (0)</a>  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7892068" rel="nofollow">编辑</a></div>
                        </div>

                        <div class="postSeparator"></div>

                        <div class="entrylistItem">
                            <div class="entrylistPosttitle"><a id="CategoryEntryList1_EntryStoryList_ctl00_Entries_TitleUrl_13" class="entrylistItemTitle" href="http://www.cnblogs.com/qixinbo/p/7891074.html">树的遍历</a></div>
                            <div class="entrylistPostSummary"><div class="c_b_p_desc">摘要: 树的遍历<a href="https://www.cnblogs.com/qixinbo/p/7891074.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                            <div class="entrylistItemPostDesc">posted <a href="http://www.cnblogs.com/qixinbo/p/7891074.html" title="permalink">2017-11-24 16:05</a> SeedQi 阅读(36) | <a href="http://www.cnblogs.com/qixinbo/p/7891074.html#FeedBack" title="comments, pingbacks, trackbacks">评论 (0)</a>  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7891074" rel="nofollow">编辑</a></div>
                        </div>

                        <div class="postSeparator"></div>

                        <div class="entrylistItem">
                            <div class="entrylistPosttitle"><a id="CategoryEntryList1_EntryStoryList_ctl00_Entries_TitleUrl_14" class="entrylistItemTitle" href="http://www.cnblogs.com/qixinbo/p/7856012.html">归并排序（C语言）</a></div>
                            <div class="entrylistPostSummary"><div class="c_b_p_desc">摘要: 归并排序（C语言实现）<a href="https://www.cnblogs.com/qixinbo/p/7856012.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                            <div class="entrylistItemPostDesc">posted <a href="http://www.cnblogs.com/qixinbo/p/7856012.html" title="permalink">2017-11-18 10:06</a> SeedQi 阅读(42) | <a href="http://www.cnblogs.com/qixinbo/p/7856012.html#FeedBack" title="comments, pingbacks, trackbacks">评论 (0)</a>  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7856012" rel="nofollow">编辑</a></div>
                        </div>

                        <div class="postSeparator"></div>

                        <div class="entrylistItem">
                            <div class="entrylistPosttitle"><a id="CategoryEntryList1_EntryStoryList_ctl00_Entries_TitleUrl_15" class="entrylistItemTitle" href="http://www.cnblogs.com/qixinbo/p/7782314.html">Hash表的平均查找长度ASL计算方法</a></div>
                            <div class="entrylistPostSummary"><div class="c_b_p_desc">摘要: Hash表的平均查找长度ASL计算方法<a href="https://www.cnblogs.com/qixinbo/p/7782314.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                            <div class="entrylistItemPostDesc">posted <a href="http://www.cnblogs.com/qixinbo/p/7782314.html" title="permalink">2017-11-04 09:50</a> SeedQi 阅读(1053) | <a href="http://www.cnblogs.com/qixinbo/p/7782314.html#FeedBack" title="comments, pingbacks, trackbacks">评论 (0)</a>  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7782314" rel="nofollow">编辑</a></div>
                        </div>

                        <div class="postSeparator"></div>

                        <div class="entrylistItem">
                            <div class="entrylistPosttitle"><a id="CategoryEntryList1_EntryStoryList_ctl00_Entries_TitleUrl_16" class="entrylistItemTitle" href="http://www.cnblogs.com/qixinbo/p/7685478.html">折半查找(C语言)</a></div>
                            <div class="entrylistPostSummary"><div class="c_b_p_desc">摘要: 折半查找(C语言)<a href="https://www.cnblogs.com/qixinbo/p/7685478.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                            <div class="entrylistItemPostDesc">posted <a href="http://www.cnblogs.com/qixinbo/p/7685478.html" title="permalink">2017-10-18 10:41</a> SeedQi 阅读(23) | <a href="http://www.cnblogs.com/qixinbo/p/7685478.html#FeedBack" title="comments, pingbacks, trackbacks">评论 (0)</a>  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7685478" rel="nofollow">编辑</a></div>
                        </div>

                        <div class="postSeparator"></div>

                        <div class="entrylistItem">
                            <div class="entrylistPosttitle"><a id="CategoryEntryList1_EntryStoryList_ctl00_Entries_TitleUrl_17" class="entrylistItemTitle" href="http://www.cnblogs.com/qixinbo/p/7588144.html">C语言 scanf()和gets()函数的区别</a></div>
                            <div class="entrylistPostSummary"><div class="c_b_p_desc">摘要: C语言scanf()和gets()函数的区别<a href="https://www.cnblogs.com/qixinbo/p/7588144.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                            <div class="entrylistItemPostDesc">posted <a href="http://www.cnblogs.com/qixinbo/p/7588144.html" title="permalink">2017-09-24 19:08</a> SeedQi 阅读(69) | <a href="http://www.cnblogs.com/qixinbo/p/7588144.html#FeedBack" title="comments, pingbacks, trackbacks">评论 (0)</a>  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7588144" rel="nofollow">编辑</a></div>
                        </div>

                        <div class="postSeparator"></div>

                        <div class="entrylistItem">
                            <div class="entrylistPosttitle"><a id="CategoryEntryList1_EntryStoryList_ctl00_Entries_TitleUrl_18" class="entrylistItemTitle" href="http://www.cnblogs.com/qixinbo/p/7497712.html">合并链表，按主键升序</a></div>
                            <div class="entrylistPostSummary"><div class="c_b_p_desc">摘要: 合并链表，按主键升序<a href="https://www.cnblogs.com/qixinbo/p/7497712.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
                            <div class="entrylistItemPostDesc">posted <a href="http://www.cnblogs.com/qixinbo/p/7497712.html" title="permalink">2017-09-09 11:41</a> SeedQi 阅读(12) | <a href="http://www.cnblogs.com/qixinbo/p/7497712.html#FeedBack" title="comments, pingbacks, trackbacks">评论 (0)</a>  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=7497712" rel="nofollow">编辑</a></div>
                        </div>

                        <p>

                        </p>
                    </div>


                </div><!--end: forFlow -->
            </div><!--end: mainContent 主体内容容器-->

            <div id="sideBar">
                <div id="sideBarMain">

                    <!--done-->
                    <div class="newsItem">
                        <h3 class="catListTitle">公告</h3>
                        <div id="blog-news">
                    </div>

                    <div id="blog-calendar" style="display:none"></div>
                  
                    <div id="leftcontentcontainer">
                        <div id="blog-sidecolumn">
                            <div id="sidebar_search" class="sidebar-block">
                                <div id="sidebar_search" class="mySearch">
                                    <h3 class="catListTitle">搜索</h3>
                                    <div id="sidebar_search_box">
                                        <div id="widget_my_zzk" class="div_my_zzk"><input type="text" id="q" onkeydown="return zzk_go_enter(event);" class="input_my_zzk">&nbsp;<input onclick="zzk_go()" type="button" value="找找看" id="btnZzk" class="btn_my_zzk"></div>

                                    </div>
                                </div>

                            </div><div id="sidebar_shortcut" class="sidebar-block">
                                <div class="catListLink">
                                    <h3 class="catListTitle">常用链接</h3>
                                    <ul>
                                        <li><a href="http://www.cnblogs.com/qixinbo/p/" title="我的博客的随笔列表">我的随笔</a></li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/MyComments.html" title="我发表过的评论列表">我的评论</a></li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/OtherPosts.html" title="我评论过的随笔列表">我的参与</a></li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/RecentComments.html" title="我的博客的评论列表">最新评论</a></li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/tag/" title="我的博客的标签列表">我的标签</a></li>
                                    </ul>
                                    <div id="itemListLin_con" style="display:none;">
                                        <ul></ul>
                                    </div>
                                </div>
                            </div><div id="sidebar_toptags" class="sidebar-block">
                                <div class="catListTag">
                                    <h3 class="catListTitle">我的标签</h3>
                                    <ul>
                                        <li><a href="http://www.cnblogs.com/qixinbo/tag/%E3%80%8AJavascript%E9%AB%98%E7%BA%A7%E7%A8%8B%E5%BA%8F%E8%AE%BE%E8%AE%A1%E3%80%8B%E9%98%85%E8%AF%BB%E8%AE%B0%E5%BD%95/">《Javascript高级程序设计》阅读记录</a>(7)</li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/tag/%E8%AE%BE%E8%AE%A1%E6%A8%A1%E5%BC%8FDesignPattern/">设计模式DesignPattern</a>(6)</li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/tag/%E6%95%B0%E6%8D%AE%E7%BB%93%E6%9E%84/">数据结构</a>(6)</li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/tag/SQL%E5%A4%AF%E5%AE%9E%E5%9F%BA%E7%A1%80/">SQL夯实基础</a>(5)</li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/tag/C%23%E8%BF%9B%E9%98%B6%E4%B9%8B%E8%B7%AF/">C#进阶之路</a>(5)</li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/tag/C%23%E9%9D%A2%E5%90%91%E5%AF%B9%E8%B1%A1/">C#面向对象</a>(4)</li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/tag/Javascript%E4%BA%8B%E4%BB%B6%E6%A8%A1%E5%9E%8B/">Javascript事件模型</a>(3)</li>
                                    </ul>
                                </div>
                            </div><div id="sidebar_categories">
                                <div id="sidebar_postcategory" class="catListPostCategory sidebar-block">
                                    <h3 class="catListTitle">随笔分类</h3>

                                    <ul>

                                        <li><a id="CatList_LinkList_0_Link_0" href="https://www.cnblogs.com/qixinbo/category/1007682.html">C#(16)</a> </li>

                                        <li><a id="CatList_LinkList_0_Link_1" href="https://www.cnblogs.com/qixinbo/category/1043504.html">Database(6)</a> </li>

                                        <li><a id="CatList_LinkList_0_Link_2" href="https://www.cnblogs.com/qixinbo/category/1007681.html">Javascript(17)</a> </li>

                                        <li><a id="CatList_LinkList_0_Link_3" href="https://www.cnblogs.com/qixinbo/category/1012811.html">WebAndHttp(1)</a> </li>

                                        <li><a id="CatList_LinkList_0_Link_4" href="https://www.cnblogs.com/qixinbo/category/1086024.html">基本功Foundation(19)</a> </li>

                                        <li><a id="CatList_LinkList_0_Link_5" href="https://www.cnblogs.com/qixinbo/category/1012821.html">杂谈(3)</a> </li>

                                    </ul>

                                </div>

                                <div id="sidebar_postarchive" class="catListPostArchive sidebar-block">
                                    <h3 class="catListTitle">随笔档案</h3>

                                    <ul>

                                        <li><a id="CatList_LinkList_1_Link_0" href="https://www.cnblogs.com/qixinbo/archive/2018/07.html">2018年7月 (1)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_1" href="https://www.cnblogs.com/qixinbo/archive/2018/06.html">2018年6月 (2)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_2" href="https://www.cnblogs.com/qixinbo/archive/2018/05.html">2018年5月 (2)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_3" href="https://www.cnblogs.com/qixinbo/archive/2018/04.html">2018年4月 (2)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_4" href="https://www.cnblogs.com/qixinbo/archive/2018/03.html">2018年3月 (3)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_5" href="https://www.cnblogs.com/qixinbo/archive/2018/02.html">2018年2月 (3)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_6" href="https://www.cnblogs.com/qixinbo/archive/2018/01.html">2018年1月 (9)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_7" href="https://www.cnblogs.com/qixinbo/archive/2017/12.html">2017年12月 (4)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_8" href="https://www.cnblogs.com/qixinbo/archive/2017/11.html">2017年11月 (5)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_9" href="https://www.cnblogs.com/qixinbo/archive/2017/10.html">2017年10月 (1)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_10" href="https://www.cnblogs.com/qixinbo/archive/2017/09.html">2017年9月 (3)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_11" href="https://www.cnblogs.com/qixinbo/archive/2017/08.html">2017年8月 (7)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_12" href="https://www.cnblogs.com/qixinbo/archive/2017/07.html">2017年7月 (6)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_13" href="https://www.cnblogs.com/qixinbo/archive/2017/06.html">2017年6月 (10)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_14" href="https://www.cnblogs.com/qixinbo/archive/2017/05.html">2017年5月 (7)</a> </li>

                                    </ul>

                                </div>

                            </div><div id="sidebar_topdiggedposts" class="sidebar-block">
                                <div id="topdigg_posts_wrap">
                                    <div class="catListView">
                                        <h3 class="catListTitle">推荐排行榜</h3>
                                        <div id="TopDiggPostsBlock"><ul><li><a href="https://www.cnblogs.com/qixinbo/p/6938471.html">1. .NET MVC页面生命周期及传统ASP.NET页面周期(1)</a></li><li><a href="https://www.cnblogs.com/qixinbo/p/7346018.html">2. 页面滑动底部自动加载下一页信息(1)</a></li><li><a href="https://www.cnblogs.com/qixinbo/p/7782314.html">3. Hash表的平均查找长度ASL计算方法(1)</a></li></ul></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!--end: sideBarMain -->
            </div><!--end: sideBar 侧边栏容器 -->
            <div class="clear"></div>
        </div><!--end: main -->
        <div class="clear"></div>
        <div id="footer">

            <!--done-->
            Copyright ©2018 SeedQi
        </div><!--end: footer -->
    </div><!--end: home 自定义的最大容器 -->
</body>
</html>