
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- saved from url=(0046)https://www.cnblogs.com/qixinbo/p/6867807.html -->
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>以往CSDN博文目录 - SeedQi - 博客园</title>
    <script src="~/Script/jquery-2.2.0.min.js"></script>
    <script src="~/js/MyBlog.js"></script>
    <link href="~/Css/blog-common.css" rel="stylesheet" />
    <link href="~/Css/BlogCssCommon.css" rel="stylesheet" />
    <link href="~/Css/BlogCssHeader.css" rel="stylesheet" />
    <link href="~/Css/BlogCssBody.css" rel="stylesheet" />
    <link href="~/Css/BlogCssSideBar.css" rel="stylesheet" />
</head>
<body>
    <a name="top"></a>

    <!--done-->
    <div id="home">
        <div id="header">
            <div id="blogTitle">
                <a id="lnkBlogLogo" href="http://www.cnblogs.com/qixinbo/"><img id="blogLogo" src="./以往CSDN博文目录 - SeedQi - 博客园_files/logo.gif" alt="返回主页"></a>

                <!--done-->
                <h1><a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/qixinbo/">SeedQi</a></h1>
                <h2>用心完成每一篇文字，真心对待每一天生活。</h2>
            </div><!--end: blogTitle 博客的标题和副标题 -->
            <div id="navigator">

                <ul id="navList">
                    <li></li>
                    <li><a id="blog_nav_myhome" class="menu" href="http://www.cnblogs.com/qixinbo/">首页</a></li>
                    <li></li>
                    <li></li>
                    <li>
                        <!---->
                    </li>
                    <li><a id="blog_nav_admin" class="menu" rel="nofollow" href="https://i.cnblogs.com/">管理</a></li>
                </ul>
                <div class="blogStats">

                    <div id="blog_stats">
                        <span id="stats_post_count">随笔 - 64&nbsp; </span>
                        <span id="stats_article_count">文章 - 0&nbsp; </span>
                        <span id="stats-comment_count">评论 - 0</span>
                    </div>

                </div><!--end: blogStats -->
            </div><!--end: navigator 博客导航栏 -->
        </div><!--end: header 头部 -->

        <div id="main">
            <div id="mainContent">
                <div class="forFlow">
                    <div id="post_detail">
                        <!--done-->
                        <div id="topics">
                            <div class="post">
                                <h1 class="postTitle">
                                    <a id="cb_post_title_url" class="postTitle2" href="https://www.cnblogs.com/qixinbo/p/6867807.html">以往CSDN博文目录</a>
                                </h1>
                                <div class="clear"></div>
                                <div class="postBody">
                                    <div id="cnblogs_post_body" class="blogpost-body">
                                        <p><strong><span style="font-family: &#39;Microsoft YaHei&#39;; font-size: 18px;">专栏一 原生javascript(3篇)</span></strong></p>
                                        <p><span style="font-family: &#39;Microsoft YaHei&#39;; font-size: 16px;">1、&nbsp;javascript立即执行函数详解</span></p>
                                        <p><span style="font-size: 16px;"><a title=" javascript立即执行函数详解" href="http://blog.csdn.net/faith1460/article/details/71600770" target="_blank"><span style="text-decoration: underline;">http://blog.csdn.net/faith1460/article/details/71600770</span></a></span></p>
                                        <p><span style="font-size: 16px; font-family: &#39;Microsoft YaHei&#39;;">2、&nbsp;javascript原型链详解 &nbsp;</span></p>
                                        <p><span style="font-size: 16px;"><a title="javascript原型链详解  " href="http://blog.csdn.net/faith1460/article/details/71514379" target="_blank"><span style="text-decoration: underline;">http://blog.csdn.net/faith1460/article/details/71514379</span></a></span></p>
                                        <p><span style="font-size: 16px; font-family: &#39;Microsoft YaHei&#39;;">3、&nbsp;原生javascript实现拖拽改变table表格行高（html）</span></p>
                                        <p align="justify"><span style="font-size: 16px;"><a title="原生javascript实现拖拽改变table表格行高（html）" href="http://blog.csdn.net/faith1460/article/details/71248706" target="_blank"><span style="text-decoration: underline;">http://blog.csdn.net/faith1460/article/details/71248706</span></a></span></p>
                                        <p align="justify"><span style="font-size: 16px;">&nbsp;</span></p>
                                        <p><strong><span style="font-size: 18px; font-family: &#39;Microsoft YaHei&#39;;">专栏二 .NET MVC(6篇)</span></strong></p>
                                        <p align="justify"><span style="font-size: 16px; font-family: &#39;Microsoft YaHei&#39;;">1、MVC使用ajax方法提交表单（一）</span></p>
                                        <p align="justify"><span style="font-size: 16px; font-family: &#39;Microsoft YaHei&#39;;"><a href="http://blog.csdn.net/faith1460/article/details/70173396" target="_blank"><span style="text-decoration: underline;">http://blog.csdn.net/faith1460/article/details/70173396</span></a></span></p>
                                        <p align="justify"><span style="font-family: &#39;Microsoft YaHei&#39;; font-size: 16px;">2、MVC使用ajax方法提交表单（二） </span></p>
                                        <p align="justify"><span style="font-family: &#39;Microsoft YaHei&#39;; font-size: 16px;"><a href="http://blog.csdn.net/faith1460/article/details/70183974"><span style="text-decoration: underline;">http://blog.csdn.net/faith1460/article/details/70183974</span></a></span></p>
                                        <p align="justify"><span style="font-family: &#39;Microsoft YaHei&#39;; font-size: 16px;">3、request和formcollet的用法及细节</span></p>
                                        <p align="justify"><span style="font-family: &#39;Microsoft YaHei&#39;; font-size: 16px;"><a href="http://blog.csdn.net/faith1460/article/details/70173054"><span style="text-decoration: underline;">http://blog.csdn.net/faith1460/article/details/70173054</span></a></span></p>
                                        <p align="justify"><span style="font-family: &#39;Microsoft YaHei&#39;; font-size: 16px;">4、MVC强类型传递泛型的两种方式</span></p>
                                        <p align="justify"><span style="font-family: &#39;Microsoft YaHei&#39;; font-size: 16px;"><a href="http://blog.csdn.net/faith1460/article/details/69220640"><span style="text-decoration: underline;">http://blog.csdn.net/faith1460/article/details/69220640</span></a></span></p>
                                        <p align="justify"><span style="font-family: &#39;Microsoft YaHei&#39;; font-size: 16px;">5、ASP.NET MVC的常用数据库查询和提取模式</span></p>
                                        <p align="justify"><span style="font-family: &#39;Microsoft YaHei&#39;; font-size: 16px;"><a href="http://blog.csdn.net/faith1460/article/details/68958384"><span style="text-decoration: underline;">http://blog.csdn.net/faith1460/article/details/68958384</span></a></span></p>
                                        <p align="justify"><span style="font-family: &#39;Microsoft YaHei&#39;; font-size: 16px;">6、VS2013和VS2010同时安装的可行方法</span></p>
                                        <p align="justify"><span style="font-family: &#39;Microsoft YaHei&#39;; font-size: 16px;"><a href="http://blog.csdn.net/faith1460/article/details/69076195"><span style="text-decoration: underline;">http://blog.csdn.net/faith1460/article/details/69076195</span></a></span></p>
                                        <p align="justify"><span style="font-size: 16px;">&nbsp;</span></p>
                                        <p align="justify"><strong><span style="font-size: 18px; font-family: &#39;Microsoft YaHei&#39;;">专栏三 SQL相关(2篇)</span></strong></p>
                                        <p align="justify"><span style="font-family: &#39;Microsoft YaHei&#39;; font-size: 16px;">1、SQL Server存储过程分页</span></p>
                                        <p align="justify"><span style="font-family: &#39;Microsoft YaHei&#39;; font-size: 16px;"><a href="http://blog.csdn.net/faith1460/article/details/70571990"><span style="text-decoration: underline;">http://blog.csdn.net/faith1460/article/details/70571990</span></a></span></p>
                                        <p align="justify"><span style="font-family: &#39;Microsoft YaHei&#39;; font-size: 16px;">2、SQL性能优化的几个技巧</span></p>
                                        <p align="justify"><span style="font-family: &#39;Microsoft YaHei&#39;; font-size: 16px;"><a href="http://blog.csdn.net/faith1460/article/details/70314003"><span style="text-decoration: underline;">http://blog.csdn.net/faith1460/article/details/70314003</span></a></span></p>
                                        <p align="justify"><span style="font-family: &#39;Microsoft YaHei&#39;; font-size: 16px;">&nbsp;</span></p>
                                        <p align="justify">&nbsp;</p>
                                    </div><div id="MySignature"></div>
                                    <div class="clear"></div>
                                    <div id="blog_post_info_block">
                                        <div id="BlogPostCategory">分类: <a href="http://www.cnblogs.com/qixinbo/category/1012821.html" target="_blank">杂谈</a></div>
                                        <div id="EntryTag"></div>
                                        <div id="blog_post_info">
                                            <div id="green_channel">
                                                <a href="javascript:void(0);" id="green_channel_digg" onclick="DiggIt(6867807,cb_blogId,1);green_channel_success(this,&#39;谢谢推荐！&#39;);">好文要顶</a>
                                                <a id="green_channel_follow" onclick="follow(&#39;9aafb01c-3018-e711-845c-ac853d9f53ac&#39;);" href="javascript:void(0);">关注我</a>
                                                <a id="green_channel_favorite" onclick="AddToWz(cb_entryId);return false;" href="javascript:void(0);">收藏该文</a>
                                                <a id="green_channel_weibo" href="javascript:void(0);" title="分享至新浪微博" onclick="ShareToTsina()"><img src="./以往CSDN博文目录 - SeedQi - 博客园_files/icon_weibo_24.png" alt=""></a>
                                                <a id="green_channel_wechat" href="javascript:void(0);" title="分享至微信" onclick="shareOnWechat()"><img src="./以往CSDN博文目录 - SeedQi - 博客园_files/wechat.png" alt=""></a>
                                            </div>
                                            <div id="author_profile">
                                                <div id="author_profile_info" class="author_profile_info">
                                                    <a href="http://home.cnblogs.com/u/qixinbo/" target="_blank"><img src="./以往CSDN博文目录 - SeedQi - 博客园_files/20170516130732.png" class="author_avatar" alt=""></a>
                                                    <div id="author_profile_detail" class="author_profile_info">
                                                        <a href="http://home.cnblogs.com/u/qixinbo/">SeedQi</a><br>
                                                        <a href="http://home.cnblogs.com/u/qixinbo/followees">关注 - 7</a><br>
                                                        <a href="http://home.cnblogs.com/u/qixinbo/followers">粉丝 - 6</a>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                                <div id="author_profile_honor"></div>
                                                <div id="author_profile_follow">
                                                    <a href="javascript:void(0);" onclick="follow(&#39;9aafb01c-3018-e711-845c-ac853d9f53ac&#39;);return false;">+加关注</a>
                                                </div>
                                            </div>
                                            <div id="div_digg">
                                                <div class="diggit" onclick="votePost(6867807,&#39;Digg&#39;)">
                                                    <span class="diggnum" id="digg_count">0</span>
                                                </div>
                                                <div class="buryit" onclick="votePost(6867807,&#39;Bury&#39;)">
                                                    <span class="burynum" id="bury_count">0</span>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="diggword" id="digg_tips">
                                                </div>
                                            </div>
                                            <script type="text/javascript">
    currentDiggType = 0;
                                            </script>
                                        </div>
                                        <div class="clear"></div>
                                        <div id="post_next_prev"><a href="http://www.cnblogs.com/qixinbo/p/6860837.html" class="p_n_p_prefix">« </a> 上一篇：<a href="http://www.cnblogs.com/qixinbo/p/6860837.html" title="发布于2017-05-16 13:07">我来博客园啦</a><br><a href="http://www.cnblogs.com/qixinbo/p/6885734.html" class="p_n_p_prefix">» </a> 下一篇：<a href="http://www.cnblogs.com/qixinbo/p/6885734.html" title="发布于2017-05-21 19:46">Javascript事件模型(一)：DOM0事件和DOM2事件</a><br></div>
                                    </div>


                                </div>
                                <div class="postDesc">posted  <span id="post-date">2017-05-17 15:27</span> <a href="http://www.cnblogs.com/qixinbo/">SeedQi</a> 阅读(<span id="post_view_count">59</span>) 评论(<span id="post_comment_count">0</span>)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=6867807" rel="nofollow">编辑</a> <a href="https://www.cnblogs.com/qixinbo/p/6867807.html#" onclick="AddToWz(6867807);return false;">收藏</a></div>
                            </div>
                            <script type="text/javascript">var allowComments=true,cb_blogId=355813,cb_entryId=6867807,cb_blogApp=currentBlogApp,cb_blogUserGuid='9aafb01c-3018-e711-845c-ac853d9f53ac',cb_entryCreatedDate='2017/5/17 15:27:00';loadViewCount(cb_entryId);var cb_postType=1;</script>

                        </div><!--end: topics 文章、评论容器-->
                    </div><a name="!comments"></a><div id="blog-comments-placeholder"></div>
                    <script type="text/javascript">var commentManager = new blogCommentManager();commentManager.renderComments(0);</script>
                    <div id="comment_form" class="commentform">
                        <a name="commentform"></a>
                        <div id="divCommentShow"></div>
                        <div id="comment_nav"><span id="span_refresh_tips"></span><a href="javascript:void(0);" onclick="return RefreshCommentList();" id="lnk_RefreshComments" runat="server" clientidmode="Static">刷新评论</a><a href="https://www.cnblogs.com/qixinbo/p/6867807.html#" onclick="return RefreshPage();">刷新页面</a><a href="https://www.cnblogs.com/qixinbo/p/6867807.html#top">返回顶部</a></div>
                        <div id="comment_form_container"><div class="login_tips">注册用户登录后才能发表评论，请 <a rel="nofollow" href="javascript:void(0);" class="underline" onclick="return login(&#39;commentform&#39;);">登录</a> 或 <a rel="nofollow" href="javascript:void(0);" class="underline" onclick="return register();">注册</a>，<a href="http://www.cnblogs.com/">访问</a>网站首页。</div></div>
                        <div class="ad_text_commentbox" id="ad_text_under_commentbox"></div>
                        <div id="ad_t2"><a href="http://www.ucancode.com/index.htm" target="_blank">【推荐】超50万VC++源码: 大型组态工控、电力仿真CAD与GIS源码库！</a><br><a href="https://cloud.tencent.com/act/campus/group/index?fromSource=gwzcw.1087490.1087490.1087490" target="_blank" onclick="ga(&#39;send&#39;, &#39;event&#39;, &#39;Link&#39;, &#39;click&#39;, &#39;T2-T2-腾讯云&#39;)">【福利】校园拼团福利，腾讯云1核2G云服务器10元/月！</a><br><a href="http://challenge.xfyun.cn/?ch=bk" target="_blank" onclick="ga(&#39;send&#39;, &#39;event&#39;, &#39;Link&#39;, &#39;click&#39;, &#39;T2-xfyun&#39;)">【大赛】2018首届“顶天立地”AI开发者大赛</a><br></div>
                        <div id="opt_under_post"></div>
                        <div id="cnblogs_c1" class="c_ad_block"><a href="https://dnspod.cloud.tencent.com/act/yearendsales?from=IT&amp;fromSource=gwzcw.1087492.1087492.1087492" target="_blank"><img width="300" height="250" src="./以往CSDN博文目录 - SeedQi - 博客园_files/24442-20180702115226334-1185241560.jpg" alt="qcloud0702" onclick="ga(&#39;send&#39;, &#39;event&#39;, &#39;Link&#39;, &#39;click&#39;, &#39;C1&#39;);"></a></div>
                        <div id="under_post_news"><div class="itnews c_ad_block"><b>最新IT新闻</b>:<br> ·  <a href="https://news.cnblogs.com/n/600850/" target="_blank">再秀「黑科技」，vivo的这项新技术能否取代 3D 结构光？</a><br> ·  <a href="https://news.cnblogs.com/n/600847/" target="_blank">阿里推出人工智能服饰店 通过“试衣镜”可直接扫码购物</a><br> ·  <a href="https://news.cnblogs.com/n/600846/" target="_blank">百度发布“百度大脑3.0”，业内首提“多模态深度语义理解”</a><br> ·  <a href="https://news.cnblogs.com/n/600845/" target="_blank">今年秋天亚马逊将在西雅图开设第二家Amazon Go无人便利店</a><br> ·  <a href="https://news.cnblogs.com/n/600841/" target="_blank">闲鱼仨月回收500吨旧衣服：等于守护10万平米大自然</a><br>» <a href="http://news.cnblogs.com/" title="IT新闻" target="_blank">更多新闻...</a></div></div>
                        <div id="cnblogs_c2" class="c_ad_block"><a href="http://click.aliyun.com/m/34770/" target="_blank"><img src="./以往CSDN博文目录 - SeedQi - 博客园_files/TB1gBPhgZLJ8KJjy0FnXXcFDpXa-468-60.jpg" alt="" style="width: 468px; height: 60px;"></a></div>
                        <div id="under_post_kb"><div class="itnews c_ad_block" id="kb_block"><b>最新知识库文章</b>:<br><div id="kb_recent"> ·  <a href="http://kb.cnblogs.com/page/522513/" target="_blank">如何提升你的能力？给年轻程序员的几条建议</a><br> ·  <a href="http://kb.cnblogs.com/page/553361/" target="_blank">程序员的那些反模式</a><br> ·  <a href="http://kb.cnblogs.com/page/598335/" target="_blank">程序员的宇宙时间线</a><br> ·  <a href="http://kb.cnblogs.com/page/597877/" target="_blank">突破程序员思维</a><br> ·  <a href="http://kb.cnblogs.com/page/597631/" target="_blank">云、雾和霭计算如何一起工作</a><br></div>» <a href="http://kb.cnblogs.com/" target="_blank">更多知识库文章...</a></div></div>
                        <div id="HistoryToday" class="c_ad_block"></div>
                    </div>
                </div><!--end: forFlow -->
            </div><!--end: mainContent 主体内容容器-->

            <div id="sideBar">
                <div id="sideBarMain">

                    <!--done-->
                    <div class="newsItem">
                        <h3 class="catListTitle">公告</h3>
                        <div id="blog-news"><div id="profile_block">昵称：<a href="https://home.cnblogs.com/u/qixinbo/">SeedQi</a><br>园龄：<a href="https://home.cnblogs.com/u/qixinbo/" title="入园时间：2017-04-03">1年3个月</a><br>粉丝：<a href="https://home.cnblogs.com/u/qixinbo/followers/">6</a><br>关注：<a href="https://home.cnblogs.com/u/qixinbo/followees/">7</a><div id="p_b_follow"><a href="javascript:void(0);" onclick="follow(&#39;9aafb01c-3018-e711-845c-ac853d9f53ac&#39;)">+加关注</a></div>
                        <script>getFollowStatus('9aafb01c-3018-e711-845c-ac853d9f53ac')</script></div></div>
                        <script type="text/javascript">loadBlogNews();</script>
                    </div>

                    <div id="blog-calendar" style="display:none"></div>
                    <script type="text/javascript">loadBlogDefaultCalendar();</script>

                    <div id="leftcontentcontainer">
                        <div id="blog-sidecolumn">
                            <div id="sidebar_search" class="sidebar-block">
                                <div id="sidebar_search" class="mySearch">
                                    <h3 class="catListTitle">搜索</h3>
                                    <div id="sidebar_search_box">
                                        <div id="widget_my_zzk" class="div_my_zzk"><input type="text" id="q" onkeydown="return zzk_go_enter(event);" class="input_my_zzk">&nbsp;<input onclick="zzk_go()" type="button" value="找找看" id="btnZzk" class="btn_my_zzk"></div>

                                    </div>
                                </div>

                            </div><div id="sidebar_shortcut" class="sidebar-block">
                                <div class="catListLink">
                                    <h3 class="catListTitle">常用链接</h3>
                                    <ul>
                                        <li><a href="http://www.cnblogs.com/qixinbo/p/" title="我的博客的随笔列表">我的随笔</a></li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/MyComments.html" title="我发表过的评论列表">我的评论</a></li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/OtherPosts.html" title="我评论过的随笔列表">我的参与</a></li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/RecentComments.html" title="我的博客的评论列表">最新评论</a></li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/tag/" title="我的博客的标签列表">我的标签</a></li>
                                    </ul>
                                    <div id="itemListLin_con" style="display:none;">
                                        <ul></ul>
                                    </div>
                                </div>
                            </div><div id="sidebar_toptags" class="sidebar-block">
                                <div class="catListTag">
                                    <h3 class="catListTitle">我的标签</h3>
                                    <ul>
                                        <li><a href="http://www.cnblogs.com/qixinbo/tag/%E3%80%8AJavascript%E9%AB%98%E7%BA%A7%E7%A8%8B%E5%BA%8F%E8%AE%BE%E8%AE%A1%E3%80%8B%E9%98%85%E8%AF%BB%E8%AE%B0%E5%BD%95/">《Javascript高级程序设计》阅读记录</a>(7)</li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/tag/%E8%AE%BE%E8%AE%A1%E6%A8%A1%E5%BC%8FDesignPattern/">设计模式DesignPattern</a>(6)</li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/tag/%E6%95%B0%E6%8D%AE%E7%BB%93%E6%9E%84/">数据结构</a>(6)</li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/tag/SQL%E5%A4%AF%E5%AE%9E%E5%9F%BA%E7%A1%80/">SQL夯实基础</a>(5)</li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/tag/C%23%E8%BF%9B%E9%98%B6%E4%B9%8B%E8%B7%AF/">C#进阶之路</a>(5)</li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/tag/C%23%E9%9D%A2%E5%90%91%E5%AF%B9%E8%B1%A1/">C#面向对象</a>(4)</li>
                                        <li><a href="http://www.cnblogs.com/qixinbo/tag/Javascript%E4%BA%8B%E4%BB%B6%E6%A8%A1%E5%9E%8B/">Javascript事件模型</a>(3)</li>
                                    </ul>
                                </div>
                            </div><div id="sidebar_categories">
                                <div id="sidebar_postcategory" class="catListPostCategory sidebar-block">
                                    <h3 class="catListTitle">随笔分类</h3>

                                    <ul>

                                        <li><a id="CatList_LinkList_0_Link_0" href="https://www.cnblogs.com/qixinbo/category/1007682.html">C#(16)</a> </li>

                                        <li><a id="CatList_LinkList_0_Link_1" href="https://www.cnblogs.com/qixinbo/category/1043504.html">Database(6)</a> </li>

                                        <li><a id="CatList_LinkList_0_Link_2" href="https://www.cnblogs.com/qixinbo/category/1007681.html">Javascript(17)</a> </li>

                                        <li><a id="CatList_LinkList_0_Link_3" href="https://www.cnblogs.com/qixinbo/category/1012811.html">WebAndHttp(1)</a> </li>

                                        <li><a id="CatList_LinkList_0_Link_4" href="https://www.cnblogs.com/qixinbo/category/1086024.html">基本功Foundation(19)</a> </li>

                                        <li><a id="CatList_LinkList_0_Link_5" href="https://www.cnblogs.com/qixinbo/category/1012821.html">杂谈(3)</a> </li>

                                    </ul>

                                </div>

                                <div id="sidebar_postarchive" class="catListPostArchive sidebar-block">
                                    <h3 class="catListTitle">随笔档案</h3>

                                    <ul>

                                        <li><a id="CatList_LinkList_1_Link_0" href="https://www.cnblogs.com/qixinbo/archive/2018/06.html">2018年6月 (2)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_1" href="https://www.cnblogs.com/qixinbo/archive/2018/05.html">2018年5月 (2)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_2" href="https://www.cnblogs.com/qixinbo/archive/2018/04.html">2018年4月 (2)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_3" href="https://www.cnblogs.com/qixinbo/archive/2018/03.html">2018年3月 (3)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_4" href="https://www.cnblogs.com/qixinbo/archive/2018/02.html">2018年2月 (3)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_5" href="https://www.cnblogs.com/qixinbo/archive/2018/01.html">2018年1月 (9)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_6" href="https://www.cnblogs.com/qixinbo/archive/2017/12.html">2017年12月 (4)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_7" href="https://www.cnblogs.com/qixinbo/archive/2017/11.html">2017年11月 (5)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_8" href="https://www.cnblogs.com/qixinbo/archive/2017/10.html">2017年10月 (1)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_9" href="https://www.cnblogs.com/qixinbo/archive/2017/09.html">2017年9月 (3)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_10" href="https://www.cnblogs.com/qixinbo/archive/2017/08.html">2017年8月 (7)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_11" href="https://www.cnblogs.com/qixinbo/archive/2017/07.html">2017年7月 (6)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_12" href="https://www.cnblogs.com/qixinbo/archive/2017/06.html">2017年6月 (10)</a> </li>

                                        <li><a id="CatList_LinkList_1_Link_13" href="https://www.cnblogs.com/qixinbo/archive/2017/05.html">2017年5月 (7)</a> </li>

                                    </ul>

                                </div>

                            </div><div id="sidebar_topdiggedposts" class="sidebar-block">
                                <div id="topdigg_posts_wrap">
                                    <div class="catListView">
                                        <h3 class="catListTitle">推荐排行榜</h3>
                                        <div id="TopDiggPostsBlock"><ul><li><a href="https://www.cnblogs.com/qixinbo/p/6938471.html">1. .NET MVC页面生命周期及传统ASP.NET页面周期(1)</a></li><li><a href="https://www.cnblogs.com/qixinbo/p/7346018.html">2. 页面滑动底部自动加载下一页信息(1)</a></li><li><a href="https://www.cnblogs.com/qixinbo/p/7782314.html">3. Hash表的平均查找长度ASL计算方法(1)</a></li></ul></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">loadBlogSideColumn();</script>
                    </div>

                </div><!--end: sideBarMain -->
            </div><!--end: sideBar 侧边栏容器 -->
            <div class="clear"></div>
        </div><!--end: main -->
        <div class="clear"></div>
        <div id="footer">

            <!--done-->
            Copyright ©2018 SeedQi
        </div><!--end: footer -->
    </div><!--end: home 自定义的最大容器 -->


</body>
</html>