

.top-bar {
    height: 5rem;
    background-color: rgba(0,0,0,.5);
}

.top-wrap {
    width: 70%;
    max-width: 76rem;
    margin: 0 auto
}

.top-bar-post {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
}

.nav-url {
    width: 40rem;
    float: left;
    height: 5rem
}


.nav-url ul {
    margin: 0;
    padding: 0
}

.nav-url li {
    list-style-type: none;
    display: inline-block;
    float: left;
    margin-right: 3rem
}

    .nav-url li a {
        display: inline-block;
        color: #e3e3e3;
        height: 2.4rem;
        padding: 1.3rem 2rem
    }

        .nav-url li a:hover {
            background: rgba(255,255,255,.1)
        }
