
#header {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
   
}

#navigator {
    background-color: rgba(0,0,0,.5);
    /*background: #F0EEF5;
    opacity: 0.5;*/
    height: 50px;
    width: 100%;
    border: none;
    clear: both;
    position: relative;
}

    #navigator ul {
        width: 70%;
        max-width: 1200px;
        margin: 0 auto;
        height: 50px;
        padding: 0
    }

#navList li {
    list-style-type: none;
    display: inline-block;
    float: left;
    margin-right: 30px ;
    line-height: 50px;
}

    #navList li a {
        opacity: 1;
        display: inline-block;
        color: #fff;
        padding: 0 20px;
        font-size: 20px;
        font-weight: bold;
    }

    #navList a:link {
        color: #fff;
    }


#navList a:hover {
    text-decoration: none;
    /*background: rgba(255,255,255,.3);*/
    background: rgba( 22,159,230,.6);
    /*background-color: #fff;*/
    /*color: #169fe6*/
}
 
.blogStats {
    display: none
}

/*#blogTitle {
    height: 279px;
    clear: both;
    width: 1460px;
    clear: both;
    margin: 0 auto;
    position: relative;
    background-image: url('../img/FishAndSea279.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    user-select: none;
}

    #blogTitle h1 {
        font-size: 38px;
        width: 100%;
        height: 100px;
        line-height: 100px;
        user-select: none;
        text-align: center;
        position: relative;
        top: 46px;
        left: -40px;
        font-weight: bold;
    }

    #blogTitle h2 {
        width: 600px;
        position: relative;
        height: 75px;
        line-height: 75px;
        color: #ffffff;
        user-select: none;
        font-weight: normal;
        top: 64px;
        left: 480px;
        font-size: 22px;
        font-weight: bold;
        cursor: default;
    }

    #blogTitle h1 a {
        color: #fff
    }

#blogLogo {
    float: right
}*/

